
.imageDesktop {
  min-height: 300px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

}

.imageMobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  
  
  .imageDesktop {
    display: none;
  }
  
  .imageMobile {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    display: initial;
    max-width: 100%;
    margin-bottom: 15px;

  }
}
