body {
  font-family: Barlow Semi Condensed;
}

* {
  box-sizing: border-box;
}

article {
  display: grid;
  background-color: aliceblue;
  height: 100%;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

section {
  border-radius: 20px;
  height: 1fr;
}

span {
  opacity: 0.5;
}

.first {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 550px 0px;
  background-size: 20%;
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  padding: 25px 50px;
  color: white;
  align-items: center;
  grid-gap: 20px;
}

.avatar {
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.name-large {
  grid-column-start: 2;
  grid-column-end: 6;
}

.name-small {
  grid-column-start: 2;
  grid-column-end: 8;
}

.bold-text {
  grid-area: 2 / 1 / 2 / 9;
  font-weight: 700;
  font-size: 1.7em;
  margin: 0;
}

.main-text {
  grid-area: 3 / 1 /3 / 9;
  line-height: 30px;
  opacity: 0.7;
  align-self: flex-start;
  margin: 0;
}

.second {
  background-color: hsl(217, 19%, 35%);
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  padding: 25px 50px;
  color: white;
  align-items: center;
  grid-gap: 20px;
}


.third {
  grid-area: 1 / 4 / 3 / 4;
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  padding: 50px;
  color: black;
  align-items: center;
  grid-gap: 20px;
  background-color: hsl(0, 0%, 100%);
}

.fourth {
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  padding: 25px 50px;
  color: black;
  align-items: center;
  grid-gap: 20px;
  background-color: hsl(0, 0%, 100%);
}

.fifth {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: hsl(219, 29%, 14%);
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  padding: 25px 50px;
  color: white;
  align-items: center;
  grid-gap: 20px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(233, 233, 233);
  }

  article {
    display: inline;
  }

  section {
    margin: 30px;
  }

  .first {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-position: 300px 0px;
    background-size: 35%;
  }
}
